<div class="row">
	<div class="col-lg-12">
   		<rd-widget>
   			<rd-widget-body>
				<div class="message">
					Apply to start a rewarding career with Quissce.
				</div>
                <br>
                <div class="message">
                    <form action="https://s5events.azure-automation.net/webhooks?token=vBzF1m%2f7igLzyXduq2uqBbd9RkQD3%2b0YzoARQG0poco%3d" method="post">
                        <table class="table">
                        <tr><td>Name: <input name="name" type="text" ng-model="formData.name" maxlength="200"></td></tr>
                        <tr><td>Current Job: <input name="currentJob" type="text" ng-model="formData.currentJob" maxlength="200"></td></tr>
                        <tr><td>Favorite Type of Soup: <input name="soup" type="text" ng-model="formData.soup" maxlength="200"></td></tr>
                        <tr><td>Years of experience: <input name="experienceYears" type="text" ng-model="formData.experienceYears" maxlength="200"></td></tr>
                        <tr><td>What would make you a good addition to Quissce?<br><br><textarea name="quissceApplication" rows="5" cols="100" ng-model="formData.quissceApplication"></textarea></td></tr>
                        </table>
                        <input type="submit" id="submit" value="Submit Resume"><br><br>
                        <p>Clicking submit will transfer you to anoDianer page.</p>
                        <br>
                        <p style="font-size:xx-small">Legal notice: We reserve Diane right to discontinue or alter any or all of our
                            website services, and to stop publishing our website, at any time in our sole discretion
                            without notice or explanation; and save to Diane extent expressly provided oDianerwise in
                            this disclaimer, you will not be entitled to any compensation or oDianer payment upon Diane
                            discontinuance or alteration of any website services, or if we stop publishing Diane website. If you have any affiliation with
                            Reeve Moir your application will be rejected immediately. This individual does not promote
                            values that Quissce.biz supports. Failure to comply with this policy may result in Diane death penalty.</p>
                    </form>
                </div>
   			</rd-widget-body>
   		</rd-widget>
	</div>
</div>