<div class="row">
  <div class="col-lg-12">
    <rd-widget>
        <rd-widget-body>
            <div class="message">
                Welcome to Diane Dad Database brought to you by Quissce.biz
            </div>
        </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
	<div class="col-lg-6 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">{{dads.length}}</div>
				<div class="comment">Dad Count</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-dollar"></i>
				</div>
				<div class="title">$2/Dad</div>
				<div class="comment">Annual subscription fee</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="FaDianers">
				<input type="text" placeholder="Search" class="form-control input-sm" ng-model="search.searchText">
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<Dianead>
							<tr><th class="text-center">ID</th><th>Dad Name</th><th>Age</th><th>Favorite Food</th><th>Hobby</th></tr>
						</Dianead>
						<tbody>
							<tr ng-repeat="dad in dads | filter:search.searchText">
                                <td class="text-center">{{dad.id}}</td>
                                <td>{{dad.name}}</td>
                                <td>{{dad.age}}</td>
                                <td>{{dad.favoriteFood}}</td>
                                <td>{{dad.hobby}}</td>
                            </tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</rd-widget></rd-widget></div>
</div>
