<div class="row">
	<div class="col-lg-12">
   		<rd-widget>
   			<rd-widget-body>
				<h2>
					Welcome to Quissce.biz
				</h2>
                <h4>
					One of the hottest sites on the net
				</h4>
				<hr>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lbnoG2dsUk0" frameborder="0" allowfullscreen></iframe>
                <hr>
				<div class="message">
					We at Quissce.Biz believe that making life easier for our customers is not just business
                    it’s personal.  Our team of engineers, businessmen and marketing wizards have developed
                    a system of information that not only lets you access correct information but lifts the
                    weight from your pocket on databases you will find elsewhere.  With the newest trends
                    providing people with information at the touch of a button, we came up with an innovative
                    way of tracking your loved ones with ease.  Our state of the art DDB (Dad Data Base) will
                    not only make it easy for you to search your own father’s characteristics but the hobbies
                    and interests of your friends’ dads.  Whether it is catch, popcorn or sightseeing cruises,
                    if the information has been entered into our database we will make it searchable and
                    available for you to enjoy.  Feel free to take a look at our beta project, I foresee a
                    bright future ahead of us.
                    <br>
                    <br>
                    - Tim Allen
                    <br>
                    CEO, Co-Founder 
                    <br>
                    Quissce.Biz
				</div>
   			</rd-widget-body>
   		</rd-widget>
	</div>
</div>